<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CA105G2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/ETIckeTsDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/member.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemberImageServlet</servlet-name>
		<servlet-class>com.member.controller.MemberImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberImageServlet</servlet-name>
		<url-pattern>/member/memberImg.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewsClassificationServlet</servlet-name>
		<servlet-class>com.news_classification.controller.NewsClassificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsClassificationServlet</servlet-name>
		<url-pattern>/backend/newsClassification/newsClassification.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.news.controller.NewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/backend/news/news.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/frontend/news/news.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FaqServlet</servlet-name>
		<servlet-class>com.faq.controller.FaqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FaqServlet</servlet-name>
		<url-pattern>/backend/faq/faq.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdministratorServlet</servlet-name>
		<servlet-class>com.administrator.controller.AdministratorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministratorServlet</servlet-name>
		<url-pattern>/administrator/administrator.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdministratorImageServlet</servlet-name>
		<servlet-class>com.administrator.controller.AdministratorImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministratorImageServlet</servlet-name>
		<url-pattern>/administrator/administratorImg.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PermissionListServlet</servlet-name>
		<servlet-class>com.permission_list.controller.PermissionListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionListServlet</servlet-name>
		<url-pattern>/backend/permissionList/permissionList.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PermissionServlet</servlet-name>
		<servlet-class>com.permission.controller.PermissionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionServlet</servlet-name>
		<url-pattern>/backend/permission/permission.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoodsServlet</servlet-name>
		<servlet-class>com.goods.controller.GoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsServlet</servlet-name>
		<url-pattern>/goods/GoodsServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>OrderHistoryServlet</servlet-name>
	    <servlet-class>com.order_history.controller.OrderHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderHistoryServlet</servlet-name>
		<url-pattern>/order_history/OrderHistory.do</url-pattern>
	</servlet-mapping>
  
	<servlet>
	    <servlet-name>OrderDetailServlet</servlet-name>
	    <servlet-class>com.order_detail.controller.OrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDetailServlet</servlet-name>
		<url-pattern>/order_detail/OrderDetail.do</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>FavoriteGoodsServlet</servlet-name>
		<servlet-class>com.favorite_goods.controller.FavoriteGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavoriteGoodsServlet</servlet-name>
		<url-pattern>/favorite_goods/FavoriteGoods.do</url-pattern>
	</servlet-mapping>
  
  	<servlet>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>com.shopping_cart.controller.ShoppingCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/shopping_cart/ShoppingCart.do</url-pattern>
	</servlet-mapping>
  

	<servlet>
		<servlet-name>GoodsImgServlet1</servlet-name>
		<servlet-class>com.goods.controller.GoodsImgServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsImgServlet1</servlet-name>
		<url-pattern>/goods/goodsImg1.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoodsImgServlet2</servlet-name>
		<servlet-class>com.goods.controller.GoodsImgServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsImgServlet2</servlet-name>
		<url-pattern>/goods/goodsImg2.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoodsImgServlet3</servlet-name>
		<servlet-class>com.goods.controller.GoodsImgServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsImgServlet3</servlet-name>
		<url-pattern>/goods/goodsImg3.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidMemberServlet</servlet-name>
		<servlet-class>com.android.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidMemberServlet</servlet-name>
		<url-pattern>/member/AndroidMemberServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidEventTitleServlet</servlet-name>
		<servlet-class>com.android.event_title.controller.Event_titleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEventTitleServlet</servlet-name>
		<url-pattern>/event/AndroidEventTitleServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AndroidEventServlet</servlet-name>
		<servlet-class>com.android.event.controller.EventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidEventServlet</servlet-name>
		<url-pattern>/event/AndroidEventServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidFavoriteEventServlet</servlet-name>
		<servlet-class>com.android.favorite_event.controller.FavoriteEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidFavoriteEventServlet</servlet-name>
		<url-pattern>/event/AndroidFavoriteEventServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AndroidNewsServlet</servlet-name>
		<servlet-class>com.android.news.controller.NewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidNewsServlet</servlet-name>
		<url-pattern>/news/AndroidNewsServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidAdminServlet</servlet-name>
		<servlet-class>com.android.administrator.controller.AdministratorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidAdminServlet</servlet-name>
		<url-pattern>/admin/AndroidAdminServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidSeatServlet</servlet-name>
		<servlet-class>com.android.seating_area.controller.SeatingAreaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidSeatServlet</servlet-name>
		<url-pattern>/seat/AndroidSeatServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidNewsclassificationServlet</servlet-name>
		<servlet-class>com.android.news_classification.controller.NewsClassificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidNewsclassificationServlet</servlet-name>
		<url-pattern>/news/AndroidNewsClassificationServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AndroidTicketServlet</servlet-name>
		<servlet-class>com.android.ticket.controller.TicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidTicketServlet</servlet-name>
		<url-pattern>/ticket/AndroidTicketServlet.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AndroidTicketTypeServlet</servlet-name>
		<servlet-class>com.android.ticket_type.controller.TicketTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidTicketTypeServlet</servlet-name>
		<url-pattern>/ticket/AndroidTicketTypeServlet.do</url-pattern>
	</servlet-mapping>
	
    <servlet>
        <servlet-name>TicketOrderServlet</servlet-name>
        <servlet-class>com.ticketorder.controller.TicketOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketOrderServlet</servlet-name>
        <url-pattern>/frontend/ticketorder/ticketorder.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>com.ticket.controller.TicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/frontend/ticket/ticket.do</url-pattern>
    </servlet-mapping>
        <servlet>
    <servlet-name>Group_openServlet</servlet-name>
    <servlet-class>com.group_open.controller.Group_openServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_openServlet</servlet-name>
    <url-pattern>/frontend/group_open/group_open.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Group_memberServlet</servlet-name>
    <servlet-class>com.group_member.controller.Group_memberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_memberServlet</servlet-name>
    <url-pattern>/frontend/group_member/group_member.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>com.forum.controller.ForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/frontend/forum/forum.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>Group_openImg1Servlet</servlet-name>
    <servlet-class>com.group_open.controller.Group_openImg1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_openImg1Servlet</servlet-name>
    <url-pattern>/frontend/group_open/Group_openImg1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Group_openImg2Servlet</servlet-name>
    <servlet-class>com.group_open.controller.Group_openImg2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_openImg2Servlet</servlet-name>
    <url-pattern>/frontend/group_open/Group_openImg2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsQaServlet</servlet-name>
    <servlet-class>com.goods_qa.controller.GoodsQaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsQaServlet</servlet-name>
    <url-pattern>/goodsqa/GoodsQaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>ResaleOrderServlet</servlet-name>
        <servlet-class>com.resaleorder.controller.ResaleOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResaleOrderServlet</servlet-name>
        <url-pattern>/frontend/resaleorder/resaleorder.do</url-pattern>
    </servlet-mapping>
    
</web-app> 
